@import "~stylus/variable"

.app-tab
  position relative
  display flex
  height 44px
  line-height 44px
  font-size $font-size-medium
  .tab-item
    flex 1
    text-align center
    .tab-link
      padding-bottom: 5px
      color $color-text-l
  .active
    .tab-link
      color $color-theme
      // border-bottom: 2px solid $color-theme
  .tab-under-line
    position absolute
    bottom 6px
    height 0
    border 1px solid $color-theme
    transition transform .3s cubic-bezier(.645,.045,.355,1)
  